body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Changed from hidden to auto */
    background-color: #FFFFFF;
    background-image: url('bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.icons-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    z-index: 1; 
}

.icon {
    position: absolute; 
}


.transition-element {
    transition: opacity 2s ease-in-out;
}

.header-text, .subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.subtext {
    font-size: 2vw;
    color: rgb(190, 190, 190);
    top: 30%;
}

@media (max-width: 768px) {
    .header-text {
        font-size: 6vw;
    }
    .subtext {
        font-size: 3vw;
    }
}


.head1subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 18px; 
    font-weight: lighter;
    color: rgb(255, 255, 255);
    z-index: 2; 
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    text-align: left
}


.head3subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 18px; 
    font-weight: lighter;
    color: rgb(202, 210, 255);
    z-index: 2; 
    position: relative;
    text-align: left
}
#starfield {
    position: relative;
    width: 100%;
    height: 100%;
  }

.head2subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    font-weight: lighter;
    color: rgb(217, 217, 217);
    z-index: 2; 
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    text-align: left;
    display: flex;
}
.projecthead{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color: rgb(255, 255, 255);
    z-index: 2;

}
.projecthead2{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color: rgb(210, 255, 230);
    z-index: 2;
}


.projecthead3{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color: rgb(255, 201, 235);
    z-index: 2;
}
.projecthead4{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color: rgb(201, 229, 255);
    z-index: 2;
}
.projecthead5{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color: rgb(255, 201, 201);
    z-index: 2;
}
.projecthead6{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color: rgb(255, 238, 201);
    z-index: 2;
}



#randomImagesContainer {
    display: none !important;
}

@media (min-width: 769px) {
    #randomImagesContainer {
        display: block !important; /* Ensure visibility on desktop */
        /* The rest of your positioning and styling */
        position: fixed; /* Fixed position to place it relative to the viewport */
        top: 20%; /* Adjust this to align with your text or as needed */
        right: 10%; /* Adjust this to move closer to the right edge if needed */
        width: 23%; /* Adjust according to the size of the images */
        transition: opacity 1s ease-in-out;
        z-index: 100; /* Ensure it is above other content */
        opacity: 1; /* Ensure it is fully visible when displayed */
    }

    /* Adjustments to ensure image and text inside the container align well */
    #randomImage {
        width: 100%; /* Full width of the container */
        height: auto; /* Maintain aspect ratio */
        border-radius: 20px; /* Optional: Adds rounded corners to your images */
    }

    #randomImageText {
        margin-top: 10px; /* Space between the image and text */
        text-align: left; /* Center the text below the image */
        color: rgb(182, 182, 182); /* Light grey text color */
        font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
        font-size: 16px;
    }
}

#randomImage:hover {
    transform: scale(2.15);
    cursor: pointer;
}