body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    background-image: url('hq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    color: #fcfdda;
    text-decoration: none; /* Removes the underline from links */
    transition: color 0.3s ease; /* Smooth color transition */
}

a:hover, a:active {
    color: #5bc982; /* Green color when hovered or active */
    text-decoration:  none; /* Adds underline on hover/active for accessibility */
}



.icons-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    z-index: 1; 
}

.icon {
    position: absolute; 
}


.transition-element {
    transition: opacity 2s ease-in-out;
}

.header-text, .subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.subtext {
    font-size: 2vw;
    color: rgb(190, 190, 190);
    top: 30%;
}

@media (max-width: 768px) {
    .header-text {
        font-size: 6vw;
    }
    .subtext {
        font-size: 3vw;
    }
}


.head1subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 32px; 
    font-weight: lighter;
    color: rgb(255, 255, 255);
    z-index: 2; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;

    position: relative;
    text-align: left
}


.head12subtext {

    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    font-weight: lighter;
    color: rgb(199, 199, 199);
    z-index: 2; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    width: 70%;

    position: relative;
    text-align: left
}

.head3subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 18px; 
    font-weight: lighter;
    color: rgb(202, 210, 255);
    z-index: 2; 
    position: relative;
    text-align: left;
}



#starfield {
    position: relative;
    width: 100%;
    height: 100%;
  }

  
.head2subtext {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    font-weight: lighter;
    color: rgb(217, 217, 217);
    z-index: 2; 
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    text-align: left;
    display: flex;
}

.projecthead{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color: rgb(255, 255, 255);
    z-index: 2;


}
.projecthead2{
    margin-left: 32px;
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: regular;
    color:#ffffff;
    z-index: 2;
    animation: flickerAnimation 1.5s infinite;

}

/*  */

@media (min-width: 769px) {
    #randomImagesContainer {
        display: block;
        transition: opacity 1s ease-in-out;
        position: fixed;
        top: 20%;
        right: 10%;
        text-align: center;
        opacity: 0;
        width: auto; /* Adjust based on your image size */
        height: auto; /* Adjust based on your image size */
    }

    #randomImage {
        transition: opacity 1.5s ease-in-out;
        width: 45%; /* Adjust if necessary */
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
    }

    #randomImagesContainer::before {
        content: '';
        position: absolute;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        border-radius: 10px;
        z-index: -1;
    }

    #randomImage:hover {
        transform: scale(1.005);
        cursor: pointer;
    }

    #randomImagesContainer:hover {
        opacity: 1; /* Ensure the container stays visible while hovered */
    }
}

/*  */

#randomImageText {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(205, 205, 205);
    z-index: 2;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

@keyframes flickerAnimation {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.2), 
                     0 0 11px rgba(255, 255, 255, 0.2), 
                     0 0 19px rgba(82, 111, 255, 0.2), 
                     0 0 40px rgba(255, 255, 255, 0.2);
    }
    20%, 24%, 55% {        
        text-shadow: 0 0 5px rgba(118, 175, 255, 0.3), 
                     0 0 14px rgba(0, 153, 255, 0.3), 
                     0 0 24px rgba(255, 255, 255, 0.3), 
                     0 0 49px rgba(0, 229, 255, 0.3);
    }
}

}
